*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  height: 50px;
  background-color: #ff9a4b
  ;
}
main{
  margin: 50px auto;
  width: 960px;
  display: flex;
  justify-content: center ;
}
@media screen and (max-width:768px) {
  main{
display: block;
width: 100%;
margin: 0 5%;
}}
.list{
  background-color: #eee;
  position: relative;
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  
}
@media screen and (max-width:768px){
  .list{
    margin-bottom: 20px;
    width: 90%;
  
  }
  
}
@media screen and (max-width:768px){
  .list:last-child{margin-bottom: 50px;}
  
}
@media screen and (max-width:768px){
  .list:first-child{margin-top: 50px;}
  
}
.list:last-child{
  margin-right: 0px;
}
.category{
  position: absolute;
  top: 0px;
  left: 0px;
size: 20px;
background-color: #ff9a4b;
}
.img
{background-image: url(img/flow01.png);
margin-bottom: 15px;
height: 150px;
background-size: cover;
background-position:bottom
}
h3{
  margin-bottom: 5px;
}
footer{
  height: 50px;
  width: auto;
  background-color: #aaa;
}
.img2
{background-image: url(img/flow02.png);
margin-bottom: 15px;
height: 150px;
background-size: cover;
background-position:bottom}

.img3
{background-image: url(img/flow03.png);
margin-bottom: 15px;
height: 150px;
background-size: cover;
background-position:bottom}

@media screen and (max-width:768px){
  .img{
    height: 150px;
    
  }
  
}